

html,body {
font-family : "Helvetica Neue", Helvetica, ARIAL, sans-serif;
marging:0;
}

.contenue {
    text-align: center;
    background-color : #FFDB00;
}

.contenue h1 {
    color: #ffffff;
}

.header {
width: : 77px;
overflow: hidden;
background-color: #fff;
}

.header .logo {
    overflow: hidden;
    width:150px;
    float: left;
    margin-top: 20px;
}

.header .menu{
    float: right;
    overflow: hidden
    padding-top:10px;
}

.header .menu li{
    list-style-type: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.header .menu ul{
    marging-left:0;
    webkit-padding-start:0;
}

.header .menu li a {
    padding-bottom:5px;
    padding-top: 5px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration:none;
    color: black;
}

.header .menu li a:hover {
    background-color: #ccc;
}

.header .menu li:last-child a{
    background-color: black;
    color:#fff;
}


.footer {
    color:#fff;
    background-color: #333;
    overflow: hidden;
    padding-top: 40px;
}

.footer a {
    color:#fff;
    text-decoration: none;
}

.footer li {
    list-style-type: none;
    
}

.colone-4{
    width:25%;
    float:left;
}
