

html,body {
    margin:0;
    font-family : "Helvetica Neue", Helvetica, ARIAL, sans-serif;
}

/*
*Entête
*/

.header {
width: : 77px;
overflow: hidden;
background-color: #fff;
}

.header .logo {
    overflow: hidden;
    width:150px;
    float: left;
    margin-top: 20px;
}

/*
*Menu
*/

.header .menu{
    float: right;
}

.header .menu li{
    list-style-type: none;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.header .menu li a{
    padding-bottom:5px;
    padding-top: 5px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration:none;
    color: black;
}

.header .menu ul{
    margin-left:0;
    -webkit-padding-start: 0;
}

.header .menu li a:hover {
    background-color: #ccc;
}

.header .menu li:last-child a{
    background-color: black;
    color:#fff;
}

/*
*contenue
*/

.contenue {
    text-align: center;
    background-color : #FFDB00;
}

.contenue h1 {
    color: #ffffff;
}


/*
*footer
*/


.footer {
    color:#fff;
    background-color: #333;
    overflow: hidden;
    padding-top: 40px;
}

.footer a {
    color:#fff;
    text-decoration: none;
}

.footer li {
    list-style-type: none;
    
}

.colone-4{
    width:25%;
    float:left;
}

.logo-footer{
    margin-left:10px;
    margin-top: 50px;
}

.footer .social{
    margin-left:0;
    -webkit-padding-start: 0;
}

.footer .social li {
    display: inline;
}

.footer .social li img{
    width:40px;
}